@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --bg: #0A0A0A;
  --card: #1A1A1A;
  --border: #2A2A2A;
  --lime: #D9FC67;
  --text: #F5F5F5;
  --muted: #888888;
}

body {
  background-color: #0A0A0A;
  color: #F5F5F5;
  font-family: 'Poppins', sans-serif;
}
